<h1> (The real) STACK OVERFLOW</h1>

  <ul>
    <% @questions.each do |question| %>
      <li>
        <h3><%= question.title %></h3>
        <p><%= question.content %></p>
      </li>
    <% end %>
  </ul>

<p> <%= link_to "Ask a new question", new_user_question_path(current_user)  %></p>
